
.display-4{
    padding-top: 25px;
}

input.ng-touched.ng-invalid{
    border-color: red;
    
}

table table-hover tbody tr:hover{
    cursor: pointer;
}
body{
    background-image:url("/assets/img/bc-1.jpg");
    background-repeat:repeat; 
    background-position:center; 
    background-size:cover; 
    padding:10px;
    position: absolute;
     top: 0; right: 0; bottom: 0; left: 0;
     height: 100%;
}